/config.ini
/__pycache__
/*.jpg
/*.mp4
/*.webp
/*.webm
/*.tgs
/trolldb.txt
/proxies.txt
/templates
/log.pickle
/stats.py
/import.py
/*.json
/parser.py
/translate-ng/translate-ng
/chat-*.txt
/triggers.txt
/translate_tmp_*.txt
/trainer_*.py
/sound
/noreply.txt
/tmp_*
/blazing_craiyon_prompt.txt
