/config.ini
/__pycache__
/*.jpg
/*.mp4
/*.webp
/*.webm
/trolldb.txt
/proxies.txt
/templates
/log.pickle
/stats.py
/import.py
/*.json
/parser.py
/translate-ng
/chat-*.txt
/trainer_text.py
/trainer_train.py
/trainer_benchmark.py
/triggers.txt
/translate_tmp_*.txt
