[bot]
token = 123123123:zzzzzzzzzzzzz
; format is from|to|trace, from|to|trace, ...
chat_relays = -100123123123|-100456456456|-100444446446, -100789789789|-100234234234|-100241565634
chat_relay_delete_channel =
; how many minutes of messages and messages to try to forward to see if they were deleted in relays
chat_relay_history_max_minutes = 10
chat_relay_history_max_count = 5
; all languages available to be used in /translate
translate_all_languages = he, mr, ha, de, ig, mk, cy, af, hu, gd, da, sn, ur, ja, tk, la, be, is, ka, el, hy, ny, mg, mt, ky, pt, tr, co, pa, mn, jw, eu, id, sw, cs, et, hi, th, zu, iw, ug, sl, yi, ru, sm, ku, st, ko, bg, su, fr, ne, ps, hr, gu, fa, ca, it, ht, xh, zh, lo, ga, no, yo, te, sk, fi, ms, uz, sd, rw, vi, nl, so, sq, bs, fy, my, or, pl, eo, lb, uk, en, kk, si, ta, ar, mi, ml, tg, kn, sr, am, ro, lt, lv, gl, az, km, bn, tl, tt, sv, es
; of those languages, which ones does the scrambler use
translate_scrambler_languages = he, mr, ha, de, hmn, ig, mk, cy, af, hu, gd, da, sn, ur, ja, tk, la, be, is, ka, el, hy, ny, mg, mt, ky, pt, tr, haw, co, pa, mn, jw, eu, id, sw, cs, et, hi, zh-TW, th, zu, iw, ug, sl, yi, ru, sm, ku, st, ko, bg, su, fr, ceb, ne, ps, hr, gu, fa, ca, it, ht, xh, zh-CN, lo, ga, no, yo, te, sk, fi, ms, uz, sd, rw, vi, nl, so, sq, bs, fy, my, or, pl, eo, lb, uk, en, kk, si, ta, ar, mi, ml, tg, kn, sr, am, ro, lt, lv, gl, az, km, bn, tl, tt, sv
; how many languages do scrambled messages go through
translate_scrambler_count = 12
; this is the default output language used by the translator
translate_default_language = es
; chat ids of admins who can use /restart
admins = 123123123
; file id for the gif that is sent to those who use /restart with no privileges
; or those who send garbage to the bot in private
error_animation = CgACAgQAAxkBAAJmjmHYLeMwbHUxlUFKrtrYNZibph2yAAJ1AgACG2CVUljvmKgkpICWIwQ
; file id for the gif that is sent when the bot is brought back to life
restart_animation = CgACAgQAAxkBAAJnXWHaBNqU2EELROLed0alvigmKjLCAALiCgAC84HQUm-vp5donIGiIwQ
; how many times a translation will be attempted before giving up
translate_retries = 1000
; these are used by the translate module: how many times a single request is retried,
; and the timeout for every one of those requests
translate_http_retries = 3
translate_http_timeout = 3
; how many images will the bot distort at the same time. distorting an image is
; a cpu and memory intensive process, so this needs to be capped
distort_max_concurrent = 3
; when /thread is used without arguments, or when the cron job is executed, a thread from one
; of these boards will be retrieved at random
4chan_boards = r9k wsg g v
; chat id for 4chan cron job - comment out to disable it
4chan_cron_chat_id = -123123123123
; these users will be ignored in public and private
banned_users = 123123123
; the bot will ignore all commands in these groups
muted_groups = -123123123
; max number of threads that will be spawned to dispatch handlers
num_threads = 16
; every time a user asks to distort a video, a score is calculated: w*h*frames
; if the score of a video is higher than this, the bot refuses to distort it
distort_video_max_score = 5000000000
; image format used for intermediate images when distorting videos
distort_temporary_format = jpg
; min and max bounds of scale used when distorting videos or animations
distort_video_min_scale = .1
distort_video_max_scale = 80
; when distorting a photo into an animation, how many frames to generate?
distort_photo_to_animation_frames = 100
; max number of results to be returned when searching for fortunes
fortune_max_results = 5
; cron intervals for actions (typing notifications) and message edits
; setting them to <=0 will disable these cron tasks. that won't disable typing
; notifications altogether since a first one is always immediately sent.
actions_cron_interval = 5
edits_cron_interval = 5
; sign up for free at https://ipgeolocation.io/
ipgeolocation_io_api_key =
; the image that will be sent when there's an error sending a soyjak
soyjak_error_photo_url = https://booru.soy/_images/0b88e33e7dd98cf46d0777de7ceb183a/32876 - SoyBooru.png
; chat id for soyjak cron job - comment out to disable it
soyjak_cron_chat_id = -123123123123
; twitter feeds, format is username|chat_id
twitter_feeds = someone|-123123123123, someone_else|-456456456456
; nitter instance used to retrieve twitter feeds
twitter_nitter_instance = nitter.net
; this is the negative prompt that will be used with all image generators that support one
negative_prompt = low quality
; blazing craiyon configuration
blazing_craiyon_chat_id = -123123123123
blazing_craiyon_threads = 8
blazing_craiyon_scrambler_count = 18
; blacklist of suggested prompts
blazing_craiyon_next_prompt_blacklist = fox inappropriate explicit invalid please warning caution caption unable
; these are the tokens that will be used at random by blazing craiyon when posting stuff
blazing_craiyon_tokens = 123123123:zzzzzzzzzzzzz, 456456456:yyyyyyyyyyyyy, 789789789:xxxxxxxxxxxxx
; chatbot parameters
chatbot_temperature = 0.95
chatbot_p = 0.85
