[bot]
token = 123123123:zzzzzzzzzzzzz
; format is from|to|trace, from|to|trace, ...
chat_relays = -100123123123|-100456456456|-100444446446, -100789789789|-100234234234|-100241565634
chat_relay_delete_channel =
; all languages available to be used in /translate
all_languages = mr, ha, de, hmn, ig, mk, cy, af, hu, gd, da, sn, ur, ja, tk
; of those languages, which ones does the scrambler use
scrambler_languages = ja, he, zh, hi, fi, ru, el
; how many languages do scrambled messages go through
scrambler_languages_count = 12
; this is the default output language used by the translator
default_language = es
; chat ids of admins who can use /restart
admins = 123123123
; file id for the gif that is sent to those who use /restart with no privileges
; or those who send garbage to the bot in private
error_animation = CgACAgQAAxkBAAJmjmHYLeMwbHUxlUFKrtrYNZibph2yAAJ1AgACG2CVUljvmKgkpICWIwQ
; file id for the gif that is sent when the bot is brought back to life
restart_animation = CgACAgQAAxkBAAJnXWHaBNqU2EELROLed0alvigmKjLCAALiCgAC84HQUm-vp5donIGiIwQ
stats_url = http://2.vortigaunt.net/CHAT_ID.html
; these are used by the translate module: how many times a single request is retried,
; and the timeout for every one of those requests
translate_http_retries = 3
translate_http_timeout = 3
; how many images will the bot distort at the same time. distorting an image is
; a cpu and memory intensive process, so this needs to be capped
max_concurrent_distorts = 3
4chan_boards = r9k wsg g v
4chan_cron_chat_id = -123123123123
; this language is using for stemming and stopword detection
chatbot_language = spanish
; percent of messages the chatbot will reply to even when not mentioned
chatbot_random_chance = 2.5
; these users will be ignored in public and private
banned_users = 123123123
; the bot will ignore all commands in these groups, but logs will keep being stored
muted_groups = -123123123
